.service_img{
    padding: 20px;
}
.card_body> a{
    color: #01B7F2;
}
.hotel-price{
    color: #01B7F2;
}
.readmore_btn{
    text-decoration: none;
    padding: 5px 20px;
    border-radius: 5px;
    border: 2px solid #01B7F2;
    margin-bottom: 30px !important;
    font-weight: 700;
    transition: .4s;
}
.readmore_btn:hover{
    background-color: #2D3E52;
    color: white;
}

.hotel_img img{
    transition: .5s;
}
.hotel_img img:hover{
    transform: scale(1.05);
}