.login,
.register{
    border-radius: 20px;
    border: 3px solid #01B7F2;

}
.login{
    margin-right: 10px;

}
.user_display_name{
    color: #2D3E52;
    font-size: 15px;
    margin-right: 10px;
    margin-bottom: 0px;
}

.nav_btn>a,
.btn_nav_dropdown>a {
    color: #01B7F2;
}
.nav_btn>a:focus,
.btn_nav_dropdown>a:focus{
    color: #2D3E52;
}
.btn_nav_dropdown{

}

/* ============================= */

.form_container{
    padding-top: 100px;
}