.login,
.register{
    border-radius: 20px;
    border: 3px solid #01B7F2;

}
.login{
    margin-right: 10px;

}
.user_display_name{
    color: green;
    font-size: 15px;
    margin-right: 10px;
    margin-bottom: 0px;
}

/* ============================= */

.form_container{
    padding-top: 100px;
}