.work_btn{
    padding: 10px 50px;
    border-radius: 25px;
    font-weight: 700;
    background-color: #2D3E52;
    border: none;
    color: white;
}
.our_works{
    margin: 100px 0px;
}
.res_img{
    transition: .5s;
}
/* .work_gallery .res_img img:hover{
    transform: scale(1.1);
} */
.res_img:hover{
    transform: scale(1.05);
}

@media only screen and (max-width:688px){
    .work_gallery .res_img img{
        width: 100%;
        margin: 10px 0px;
    }
}